@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Montserrat:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

header {
    background-color: #000;
    height: 68px;
}

.navbar {
    padding: 20px 0;
    height: 100%;
}

header h2 {
    color: #fff;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1170px;
    }
}